body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.container {
  max-width: 360; /* Portrait width */
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.profile {
  width: 150px;
  border-radius: 0;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #0077cc;

}

section {
  margin-bottom: 40px;
}

h1 {
  font-size: 24px;
  margin-top: 15px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 15px 0;
}

h2 {
  text-align: left;
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.container ul {
  text-align: left;
  margin-left: 20px;
  padding-left: 20px;
}

.fullpage {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px;
}





